<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.wayd.wdonation">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcceuilActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PubliciteActivity"
            android:label="@string/title_publicite" />
        <activity android:name=".AddAssociationActivity" />
        <activity
            android:name=".ListAssociationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfigurationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AproposActivity" />
        <activity
            android:name=".ConceptActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProblemeActivity"

            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>